<h1>New Post</h1>

<%= simple_form_for @post do |f| %>
  <%= f.input :image %>
  <%= f.hidden_field :user, :value => current_user %>
  <%= f.button :submit, "Submit post", class:'submit-btn' %>
<% end %>
